html, p, h1, h2, input, img, label {
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

header {
    border: 1px solid black;
    grid-area: header;
    height: 100px;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 50%;
    right: 40%;
    width: 350px;
    height: 300px;
    z-index: 9;
}

form {
    grid-area: form;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    height: 100%;
}

#library {
    border: 1px solid black;
    grid-area: library;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 250px;
    gap: 10px;
    padding: 10px;
    height: 80%;
}

.card {
    border: 1px solid black;
    width: 250px;
    height: 250px;
}

#page-mask {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
